<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
        </layout>
    </appender>

    <logger name="net.sf.ehcache">
        <level value="DEBUG"/>
    </logger>

    <root>
        <priority value ="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>
</Configuration>